
.chatMain
  .groupInfo
    .groupInfo__leftbox
      .groupInfo__leftbox--name
        test
      .groupInfo__leftbox--menber
        Menber : masa
    .groupInfo__rightbox
      =link_to "#", class: "groupInfo__rightbox--edit" do
        Edit
  .messages
    = render @messages
  .messageForm
    = form_for [@group, @message], html: { class: "messageForm__post" } do |f|
      = f.text_field :content, class: 'messageForm__post--input', placeholder: 'type a message'
      = f.label :image, class: 'messageForm__post--image' do
        = icon('fas', 'image', class: 'messageForm__post--image--icon')
        = f.file_field :image, class: 'messageForm__post--image--upload'
      = f.submit 'Send', class: 'postSend'
