
.chatMain
  .groupInfo
    .groupInfo__leftbox
      .groupInfo__leftbox--name
        = @group.name
      .groupInfo__leftbox--menber
        Menber:
        - @group.users.each do |user|
          = user.name
    .groupInfo__rightbox
      =link_to edit_group_path(@group.id), class: "groupInfo__rightbox--edit" do
        Edit
  .messages
    = render @messages
  .messageForm
    = form_for [@group, @message], html: { class: "messageForm__post" }, id:"new_message"  do |f|
      = f.text_field :content, class: 'messageForm__post--input', placeholder: 'type a message'
      = f.label :image, class: 'messageForm__post--image' do
        = icon('fas', 'image', class: 'messageForm__post--image--icon')
        = f.file_field :image, class: 'messageForm__post--image--upload'
    %input.form__submit{type: 'submit', value: 'Send', class:'postSend'}
